[submodule "src/bot"]
	path = src/bot
	url = ssh://git@doopelab.mad:30001/development/PinguLab/pingubot.git
	branch = master
[submodule "src/frontend"]
	path = src/frontend
	url = ssh://git@doopelab.mad:30001/development/PinguLab/pingureactfrontend.git
	branch = master
[submodule "src/backend"]
	path = src/backend
	url = ssh://git@doopelab.mad:30001/development/PinguLab/pingubackend.git
	branch = master
